/* components/MaterialTable.module.css */
.skeleton {
    background: linear-gradient(90deg, #f0f0f0 25%, #e0e0e0 50%, #f0f0f0 75%);
    background-size: 200% 100%;
    animation: shimmer 1.5s infinite;
    height: 4.0rem;
    border-radius: 4px;
}

/* TableStyles.module.css */
.thId {
    width: 50px;
}

.thName {
    width: 150px;
}

.thType {
    width: 100px;
}

.thDescription {
    width: 300px;
}

.thThickness {
    width: 100px;
}

.thWidth {
    width: 100px;
}

.thHeight {
    width: 100px;
}

.thColor {
    width: 100px;
}

.thManufacturer {
    width: 150px;
}

.thPrice {
    width: 100px;
}

.thActions {
    width: 200px;
}
@keyframes shimmer {
    0% {
        background-position: -200% 0;
    }
    100% {
        background-position: 200% 0;
    }
}