.navbarCustom {
  background: linear-gradient(to right, #3e2723, #5d4037);
}

.navbarTextWhite {
  color: #ffffff; /* Branco */
}

.navbarTextWhite a {
  color: #ffffff; /* Branco */
}

.navbarTextWhite a:hover {
  color: #e0e0e0; /* Cor de destaque ao passar o mouse (opcional) */
}

.iconWhite {
  color: #ffffff; /* Branco */
}

.logo {
  font-size: 24px;
  font-weight: bold;
  color: #f0f0f0; /* Cor do texto */
  padding: 5px 10px;
  border-radius: 5px;
  display: inline-block;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6); /* Sombra do texto */
}